.square{
    background-color: lightslategray;
    border: 1px solid white;
    color: white;
    text-align: center;
    padding: 10px;
}

.square-small{
    background-color: lightsalmon;
    border: 1px solid lightslategray;
    color: white;
    text-align: center;
    padding: 5px;
}

.square-black{
    background-color: black;
    padding: 10px;
}

.square-white{
    background-color: lightgray;
    padding: 10px;
}